<!doctype html>
<html ng-app="app" ng-controller="mainController as main">
<head>
    <meta charset="UTF-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <title>Directory Search</title>

    <base href="/">

    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="/scripts/angular/angular-material.min.css">
    <link rel="stylesheet" href="/app.css">

    <!-- Angular scripts -->
    <script src="/scripts/angular/angular.min.js"></script>
    <script src="/scripts/angular/angular-animate.min.js"></script>
    <script src="/scripts/angular/angular-aria.min.js"></script>
    <script src="/scripts/angular/angular-route.min.js"></script>
    <script src="/scripts/angular/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script src="/scripts/angular/angular-material.min.js"></script>

    <!-- file upload -->
    <script type="text/javascript" src="/scripts/ng-file-upload/ng-file-upload.min.js"></script>

    <!-- Application script -->
    <script src="/app.js"></script>


</head>
<body ng-app="app" layout="column">
    <md-toolbar class="md-hue-2" md-scroll-shrink>
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Menu" ng-disabled="$mdMedia('gt-md')" ng-click="toggleSideNav()" hide-gt-md>
                <md-icon md-font-library="material-icons">menu</md-icon>
            </md-button>
            <h2>
                <span ng-click="loadNews($event, null)" hide show-gt-xs>Directory Search</span>
            </h2>

            <span flex></span>

            <form name="searchForm" ng-show="isSearchOpen">
                <span flex layout="row" layout-align="right center" md-theme="search">
                    <md-input-container class="searchBox" md-no-float>
                        <input ng-model="search" placeholder="Search" ng-model-options='{ debounce: 300 }' ng-change='searchPeople($event)'>
                    </md-input-container>
                    <md-button class="md-icon-button" aria-label="clear" ng-click="search = null; searchPeople($event)" ng-show="search">
                        <md-icon md-font-library="material-icons">clear</md-icon>
                    </md-button>
                </span>
            </form>

            <span flex></span>

            <md-button class="md-icon-button" aria-label="Search" ng-click="isSearchOpen = !isSearchOpen" ng-show="!isSearchOpen">
                <md-icon md-font-library="material-icons">search</md-icon>
            </md-button>

        </div>
    </md-toolbar>

    <section layout="row" flex>
        <md-button class="md-fab md-fab-bottom-right md-primary" aria-label="add" ng-click="showAdd($event)">
            <md-icon md-font-library="material-icons" class="md-light md-48">add</md-icon>
            <md-tooltip md-direction="top">
                Add Person
            </md-tooltip>
        </md-button>

        <md-content flex scroll-check>

            <div class="progress container" ng-show="isLoading">
                <md-progress-linear md-mode="query"></md-progress-linear>
                <div class="bottom-block">
                    <span>Loading . . . please wait</span>
                </div>
            </div>

            <div class="md-padding" md-scroll-y layout-xs="column" layout="row" layout-wrap>
                <div ng-repeat="person in people" ng-cloak ng-model="html">
                    <div flex-gt-sm="nogrow" flex="100">
                        <md-card class="personCard" md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
                            <md-card-title>
                                <md-card-title-text>
                                    <span class="md-headline">{{person.FirstName}} {{person.LastName}}</span>
                                    <span class="md-subhead">Age {{person.Age}}</span>
                                </md-card-title-text>
                                <md-card-title-media>
                                    <div class="md-media-lg card-media personPhoto"><img ng-src="data:image/JPEG;base64,{{person.Photo}}"></div>
                                </md-card-title-media>
                            </md-card-title>
                            <md-card-content>
                                {{person.Interests}}
                            </md-card-content>
                            <md-card-actions layout="row" layout-align="center center">
                                <md-button class="md-icon-button" ng-click="showUpdate($event, $scope, person)" aria-label="edit">
                                    <md-icon md-font-library="material-icons" class="md-24">mode_edit</md-icon>
                                    <md-tooltip md-direction="top">
                                        Edit Person
                                    </md-tooltip>
                                </md-button>

                                <md-button class="md-icon-button" ngf-fix-orientation="true" ngf-select="uploadFile($event, $scope, person, $file)" aria-label="edit">
                                    <md-icon md-font-library="material-icons" class="md-24">insert_photo</md-icon>
                                    <md-tooltip md-direction="top">
                                        Upload image
                                    </md-tooltip>
                                </md-button>

                                <md-button class="md-icon-button" ng-click="deletePersonConfirm($event, person.Id)" aria-label="delete">
                                    <md-icon md-font-library="material-icons" class="md-24">delete</md-icon>
                                    <md-tooltip md-direction="top">
                                        Delete Person
                                    </md-tooltip>
                                </md-button>
                            </md-card-actions>
                        </md-card>
                    </div>
                </div>

                <div flex="100" layout="row" layout-align="center center" ng-hide="isLoading">
                    <md-card class="loadMoreCard" md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
                        <md-button class="loadMoreButton" ng-click="loadMore($event)">Load More</md-button>
                    </md-card>
                </div>
            </div>
            <div class="progress container" ng-show="isLoading && people.Length > 0">
                <md-progress-linear md-mode="query"></md-progress-linear>
                <div class="bottom-block">
                    <span>Loading . . . please wait</span>
                </div>
            </div>

        </md-content>
    </section>

</body>
</html>